.week-report {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 20px;
	
	.content-form {
		.form-header {
			span {
				display: inline-block;
				width: 24%;
				float: left;
				text-align: center;
			}
		}
	}
}