@import 'common.less';

.week-report {
	// padding-left: 20%;
	// padding-right: 20%;
	padding: 40px 150px;
	
		.form-header {
			overflow: hidden;
			width: 1020px;
			margin: 0 auto;
			span {
				display: inline-block;
				width: 240px;
				float: left;
				text-align: center;
				font-size: 20px;
			}
		}
	.content-form {
		position: relative;
		width: 1020px;
		margin: 0 auto;
	}

	.input-group {
		position: relative;
		margin-top: 10px;
		overflow: hidden;
		.input-container {
			display: inline-block;
			width: 240px;
			float: left;
			text-align: center;

			input {
				width: 85%;
				height: 25px;
				font-size: 14px;
			}
		}

		.tick-mark {
			position: absolute;
			display: inline-block;
			width: 20px;
			height: 20px;
			.background('tick.png');
			margin: auto;
	    top: 0;
	    bottom: 0;
		}

		.subtract-mark {
			position: absolute;
			display: inline-block;
			width: 20px;
			height: 20px;
			.background('subtract.png');
	    margin: auto;
	    top: 0;
	    bottom: 0;
	    right: 10px;			
		}
	}

	.add-icon {
		position: absolute;
		display: inline-block;
		width: 20px;
		height: 20px;
		.background('add.png');
		margin: auto;
	}

	.button-container {
		width: 1020px;
		margin: 0 auto;
		div {
			float: right;
			width: 206px;
			height: 35px;
			line-height: 35px;
			margin-right: 75px;
			margin-top: 20px;
			border: 1px solid #e4e4e4;
			background: #e4e4e4;
			font-size: 20px;
			border-radius: 4px;
			text-align: center;
		}

	}
}






















