<div class="week-report">
	<div class="form-header">
		<span>Affairs</span>
		<span>Time</span>
		<span>Author</span>
		<span>Completion</span>
		<div class="add-icon" ng-click="addNewLine()"></div>
	</div>
	<form name="reportForm" class="content-form">
		<div class="input-group" ng-repeat="data in formData track by $index" ng-mouseover="showDeleteMark($index)" ng-mouseleave="hideDeleteMark($index)">
			<div class="input-container">
				<input ng-model="data.affairs" name="{{'affairs' + $index}}" class="first-input" required>
			</div>
			<div class="input-container">
				<input ng-model="data.time" name="{{'time' + $index}}" required>
			</div>
			<div class="input-container">
				<input ng-model="data.author" name="{{'author' + $index}}" required>
			</div>
			<div class="input-container">
				<input ng-model="data.completion" name="{{'completion' + $index}}" ng-keydown="keydownInLastInput($event);" required>
			</div>
			<div class="tick-mark" ng-show="reportForm.{{'affairs' + $index}}.$valid && reportForm.{{'time' + $index}}.$valid && reportForm.{{'author' + $index}}.$valid && reportForm.{{'completion' + $index}}.$valid"></div>
			<div class="subtract-mark" ng-show="{{'deleteMark' + $index}}" ng-click="deleteRow($index)"></div>
		</div>

	</form>
	
	<div class="button-container">
		<div ng-click="submitForm()">Submit and Push</div>		
	</div>
</div>













