<div class="week-report">
	<form name="reportForm" class="content-form">
		<div class="form-header">
			<span>Affairs</span>
			<span>Time</span>
			<span>Author</span>
			<span>Completion</span>
		</div>

		<div class="input-group">
			<div class="input-container">
				<input ng-model="affairs" required>
			</div>
			<div class="input-container">
				<input ng-model="time" required>
			</div>
			<div class="input-container">
				<input ng-model="author" required>
			</div>
			<div class="input-container">
				<input ng-model="completion" required>
			</div>
			<div class="tick-mark" ng-show="reportForm.$valid"></div>
		</div>

	</form>

</div>













